/* font-family: "Montserrat", sans-serif;
font-family: "Playfair Display", serif; */
:root {
  --background-color: #fcf8e8;
  --primary-color: #94b49f;
  --font-color: #df7861;
  --heading-font-family: "Playfair Display", serif;
  --normal-font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

p {
  color: var(--font-color);
  font-family: var(--normal-font-family);
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background: var(--background-color);
  text-align: center;
  line-height: 1.5;
  padding: 160px 15px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.content {
  padding: 160px 15px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  line-height: 1.5;
}

.content h3 {
  font-size: 24px;
  font-family: var(--normal-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
  opacity: 0.8;
}

.content-inner {
  margin: 30px;
}

.btn-contact {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 27px;
  padding: 14px 28px;
}

.btn-outline {
  color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 14px 28px;
}

.description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  h2 {
    font-size: 42px;
  }

  .hero h1 {
    font-size: 52px;
    padding-top: 18px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .description {
    padding: 0;
    text-align: center;
  }
}
